 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
  body {
    @apply .font-sans .text-brown ;
    @apply .bg-orange-lightest ;
  }

  a {
    @apply .text-orange ;
    text-decoration: none ;
  }

  h1, h2, h3 {
    @apply .mt-2 .mb-4 ;
  }

  .menu-item {
    @apply .py-4 .mr-4 ;
  }

  .menu-item:hover {
    @apply .text-orange-dark .py-3 .border-b-2 .border-orange-dark ;
  }

  #search-mag {
  @apply .text-xl .text-orange .shadow-none .bg-white .border-none ;
  @apply .mt-3 .ml-0 .mr-4 .cursor-pointer ;
  }

  #search-mag:hover {
    @apply .text-orange-dark .text-2xl ;
  }

  #rating {
    @apply .text-orange .text-xl .font-bold;
   unicode-bidi: bidi-override;
   direction: rtl;
   > span {
     display: inline-block;
     position: relative;
     width: 1.1em;
     &:hover {
       &:before, ~ span:before {
         content: "\2605";
         position: absolute;
       }
     }
   }
  }

  p {
      text-align: justify;
  }

  .btn {
    @apply .bg-white .text-orange ;
    @apply .py-2 .px-2 ;
    @apply .m-1 ;
    @apply .border .border-orange .rounded ;
  }

  .btn:hover {
    @apply .bg-orange .text-white ;
    @apply .border-transparent ;
  }

  .disabled-btn{
    @apply .bg-transparent .text-brown ;
    @apply .py-2 .px-2 ;
    @apply .m-1 ;
    @apply .border .border-brown .rounded ;
  }

  input[type="text"], textarea{
    @apply .shadow .border-b-2 .border-orange .rounded .mb-4 .p-4 .w-full ;
  }

  input[type="submit"]{
    @apply .btn ;
  }

  input[type="email"], input[type="password"]{
    @apply .border .border-orange .rounded .w-auto .px-4 .py-2 .mt-2 .mb-4 ;
  }

  input[type="search"]{
    @apply .bg-orange-lightest .border .border-orange .rounded .w-full .px-4 .py-2 .mt-4 ;
  }
  
